{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/listings.css' %}">
{% endblock %}

{% block content %}


<!-- Start Content -->
<div id="content" class="section-padding">
  <div class="container-fluid px-0 py-5">
    <div class="row gx-0">
      <!-- Account Sidebar -->
      <div class="col-lg-3 col-md-12">
        {% include 'profiles/account-sidebar.html' %}
    </div>
      <!-- Account Sidebar -->
      <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="page-content">
            <div class="inner-box">
              <div class="tg-contactdetail">
                <div class="dashboard-box">
                  <h2 class="dashbord-title">Update Profile</h2>
                  
                </div>
                <div class="dashboard-wrapper">
                <form id="" method="POST" action="" class="profile-form"
                enctype="multipart/form-data">
                  <div class="dx-box-content">
                      {% csrf_token %}
                      {{ user_form }}
                      {{ profile_form }}
                      
                      <div class="text-center">
                        <button type="submit" class="btn btn-common log-btn">Update Profile</button>
                      </div>
                  </div>
                </form>
                </div>
              </div>
              <!-- Message start -->
              {% if messages %}
              <div class="error-msg">
                {% for message in messages %}
                <p class="error-text text-center">{{ message }}</p>
                {% endfor %}
              </div>
              {% endif %}
              <!-- Message end -->
            </div>
          </div>
        
      </div>
    </div>
  </div>
</div>
<!-- End Content -->
{% endblock content %}